@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body {
    background-color: #871919;
    margin: 0;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    background-image: url(mantis-tile.png);
    background-repeat: repeat;
}
.main {
    background-color: #e99191;
    color: #fff962;
    height: 100%;
    max-width: 960px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    padding: 0;
    margin: 0;
}
.main p,h1,a {
    padding: 24px;
}
.main img {
    width: 100%;
    height: auto;
}