@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body {
    background-color: #871919;
    margin: 0;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    background-image: url(mantis-tile.png);
    background-repeat: repeat;
    background-attachment: fixed;
}
.main {
    background-color: #e99191;
    color: #fff962;
    height: 100%;
    max-width: 960px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    padding: 0;
    margin: 0;
}
.main p,h1,a {
    padding: 24px;
}

.main a {
    background-color: #b68181;
    color: #fff962;
    margin: 24px;
    text-decoration: none;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
    border-color: #fff962;
}

.main a:hover {
    background-color: #503636;
    color: white;
    text-decoration: underline;
    border-radius: 0;
}

.main img {
    width: 100%;
    height: auto;
}