img {
    display: block;
    max-width: 100%;
    height: auto;
}
.card {
  margin-bottom: 16px;
}
nav {
  margin-top: 16px;
  z-index: 1;
  border-radius: 16px;
}
.winbox {
  z-index: 2;
  border-radius: 12px 12px 0 0;
}

.project-tile {
  transition: transform 0.2s ease-in-out;
}

.project-tile:hover {
  transform: scale(1.02);
}