body {
  margin: 25px;
  background-color: #252627;
  font-family: arial, sans-serif;
  font-size: 18px;
  color: #bdbdbd;
}
#navheader{
  font-size: 35px;
  font-weight: bold;
  margin-top: 5px;
  color: #f176b4;
}
h1{
  font-size: 35px;
  font-weight: bold;
  margin-top: 5px;
  color: #eeeeee;
}
a {
  font-weight: normal;
  margin-top: 5px;
  color: #8982e6;
}
nav {
  font-size: 24px;
  margin-top: 15px;
}

