body {
  margin: 25px;
  background-color: #252627;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #E5E5E5;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 5px;
  color: #FCA311;
}
a {
  font-size: 18px;
  font-weight: normal;
  margin-top: 5px;
  color: #470FF4;
}

