/* www.notkirb.com/newdesign */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --dark: #00000000;
    --primary: #ffffff;
    --primary-light: #ffffff;
    --light: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--dark);
}

#box {
    position: absolute;
    width: 544px;
    height: 371px;
    left: calc(50% - 544px/2);
    top: calc(50% - 371px/2);
    border-radius: 40px;
    background-color: #10101080;
    backdrop-filter: blur(8px);
    color: #ffffff;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out;
}
#box:hover {
    transform: scale(1.05);
}

#box-project {
    position: absolute;
    width: 1222px;
    height: 75%;
    left: calc(50% - 1222px/2);
    top: calc(50% - 75%/2 + 53px);
    border-radius: 40px;
    background-color: #10101080;
    backdrop-filter: blur(8px);
    color: #ffffff;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out;
}
#box-project:hover {
    transform: scale(1.05);
}

#oldbutton {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #ffffff;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#topo {
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

#nav {

    position: absolute;
    width: 544px;
    height: 50px;
    left: calc(50% - 544px/2);
    top: calc(50px/2 - 99px);

    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px; 

    text-align: center;

    color: #FFFFFF;
}
.navlink {
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}
.navlink:hover {
    font-size: 36px;
}
.nav-active {
    font-size: 30px;
    font-style: oblique;
}

#title {

    position: absolute;
    width: 544px;
    height: 50px;
    left: calc(50% - 544px/2);
    top: calc(50% - 50px/2 - 99px);

    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px; 

    text-align: center;

    color: #FFFFFF;
}

#project-title {

    position: absolute;
    width: 544px;
    height: 50px;
    left: calc(50% - 544px/2);
    top: calc(50px);

    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px; 

    text-align: center;

    color: #FFFFFF;
}

#repo-iframe {
    position: absolute;
    width: 100%;
    height: calc(100% - 150px);
    top: 100px;
    border: none;
    background-color: none;
}

#content {
    position: absolute;
    width: 434px;
    height: 84px;
    left: calc(50% - 434px/2);
    top: calc(50% - 84px/2 - 5px);

    font-family: 'Kufam';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
    
}

#socials {
    position: absolute;
    width: 434px;
    height: 30px;
    left: calc(50% - 434px/2);
    top: calc(50% - 30px/2 + 90px);
    
    text-align: center;

font-family: 'Krona One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */
}

/* socials */

[id*=lnk] {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
[id*=lnk]:hover {
    font-size: 30px;
    color: #ffffff !important;
}

#lnk-dc {
    color: #7D74FF;
}
#lnk-yt {
    color: #F34747;
}
#lnk-tw {
    color: #00AAFF;
}
#lnk-rt {
    color: #FE752B;
}
#lnk-gh {
    color: #FFFFFF;
}
#lnk-tt {
    color: #FF0051;
}

#background { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

